.send{
    display:flex;
    justify-content: flex-end;
    background-color: lightblue;
}

.received{
    display: flex;
    background-color: whitesmoke;
}

.container{
    width:70vw;
}
/* form{
    position:fixed;bottom: 0
} */

.forScroll{
    margin-top:38px;
background-color:red
}


nav ul{height:200px; }
nav ul{overflow:hidden; overflow-y:scroll;}